#!/usr/bin/env python3
"""
Файл конфигураций. Укажите значения:
sender - через что отправлять алерты (доступно только телеграм)
partitions - каждое значение спика - это список, первое значение которого - раздел, на котором отслеживается свободное место,
             а второе значение - лимит места в мегабайтах, по достижению которого отправится алерт.
la_limit - лимит load average, по достижении которого отправится алерт.
data_path - каталог, в котором будут сохраняться метрики.
uptime_limit - число, если uptime сервера меньше этого значения, отправится алерт.
"""

settings = {
    "sender": "telegram",
    "partitions": [["/", 512]],
    "la_limit": 1,
    "data_path": "data",
    "uptime_limit": 1200,

}

tg = {
    "token": "",
    "chat_id": "",

}
